DB_HOST="localhost"
DB_USER="postgres"
DB_PASSWORD="sua_senha"
DB_NAME="carvao_dois_irmaos"
DB_PORT="5432"
NODE_ENV="development"
SESSION_SECRET="gere-um-segredo-aleatorio-com: node -e \"console.log(require('crypto').randomBytes(32).toString('hex'))\""
